starlette 
uvloop
uvicorn
gunicorn
aiohttp
Authlib
httptools
six
jwcrypto
pycryptodome
pillow
firebase-admin
python-multipart
PyJWT==1.7.1
pytest
pytest-asyncio
sqlalchemy
psycopg2-binary
mysqlclient
cx_Oracle
pyodbc
snowflake-sqlalchemy
ibm-db-sa
teradatasqlalchemy
sqlalchemy-hana
sqlalchemy-access
pybigquery
sqlalchemy-cockroachdb
sqlalchemy-redshift
pyhive[presto]